{% extends 'base.html' %}


{% block body %}
    <h1>Salt Lake City Dog Parks</h1>
    <br>
    <br>
    <h3>Herman Franks Dog Park</h3>
    
    <img src="https://images.app.goo.gl/Q77yS8cagutSAm3o6">
    <br>
    <br>
    <h3>Millcreek Canyon</h3>

    <img src="https://images.app.goo.gl/eSgqARNrpBR7wJDK8">
    <br>
    <br>
    <h3>Rotary Glen Park</h3>
   
    <img src="https://images.app.goo.gl/bXhsmENFXwhv3Hdq7">
    <br>
    <br>
    <h3>Lindsey Gardens Park</h3>
    <img src="https://images.app.goo.gl/Erj4q1NBJEStzRreA">
    <br>
    <br>
    <h3>Sandy City Dog Park</h3>
    <img src="https://images.app.goo.gl/ADAHQLrEJQUbEFje9">
    
{% endblock %}