{% extends 'base.html' %}
{% block body %}

    <h1>Salt Lake City Parks</h1>
    <br>
    <h2>Liberty Park</h2>
    <img src="https://images.app.goo.gl/CigPC3Dymk7hJtkcA">
    <br>
    <br>
    <h2>Memory Grove Park</h2>
    <img src=" https://images.app.goo.gl/fQTjg6PxPsPRcQv28">
    <br>
    <br>
    <h2>Sugar House Park</h2>
    <img src="https://images.app.goo.gl/A1cmtSYt2uWT2J7Q6">
    <br>
    <br>
    <h2>Tanner Park</h2>
    <img src="https://images.app.goo.gl/p82SsY7hJSmAsdADA">
    <br>
    <br>
    <h2>Canyon Rim Park</h2>
    <img src="https://images.app.goo.gl/zcDLjfZkRgGutMaMA">
    <br>
    <br>
    <h2>Washington Square Park</h2>
    <img src="https://images.app.goo.gl/zcDLjfZkRgGutMaMA">
    <br>
    <br>
    <h2>Jordan Park</h2>
    <img src="https://images.app.goo.gl/K4DFybjZhThjVhb17">
    <br>
    <br>
    <h2>Mountview Park</h2>
    <img src="https://images.app.goo.gl/r9J3b9jHRaJvLWJv8">
    <br>
    <br>
    <h2>Lone Peak Park</h2>
    <img src="https://images.app.goo.gl/cec1zUYTJxwsbZ3QA">
    <br>
    <br>
    <h2>Wardle Fields Park</h2>
    <img src="https://images.app.goo.gl/pRTpNDaoTGMqUXRp ">
    <br>
    <br>
{%endblock%}